@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* header part styling */
body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
header{
    background-color:#2d25a0;
    width: 100%;
    height:677px;
}
.top-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 153px;
    padding-left: 156px;
    padding-right: 140.99px;
}

header h1{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding-right: 102px;
    font-weight: 700;
    font-size: 64px;
    color: white;
}
.button-gap{
    margin-bottom: 27px;
}


 header h1:hover{
    transform: scale(1.5);
    transition: transform 1s ease-in-out;
}  

.watch-button{
    text-decoration: none;
    
    width: 168px;
    height: 44px;
    padding: 10px 24px 10px 24px;
    color:white;
    font-weight: 500;
    background-color: #E02C6D;
}
.watch-button:hover{
   transform: scale(1.5);
   transition: transform 2s ease-in-out;
   
}
header img{
    width: 556.01px;
    height: 438px;
}



/*players styles */


.container{
    margin-top: 2px;
    padding-top:70px;
    padding-left: 180px;
    padding-right: 210px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,350px);
    grid-gap:30px;
    column-gap:0px;
    margin-right: 5px;
   
}
.player{
    border:3px solid white;
    box-shadow: 5px 10px 8px 10px #888888;
    width:330px;
    height: 474px;
  
}
.player-banner img{
    width: 300px;
    height:256px;
    padding:15px;
   
    
}
.player-details{
    padding:15px;
    border:1px solid white;
    width:300px;
    height: 144px;
    
}
/* footer part */
footer{
    margin-top:158px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}
.footer img{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width:480px;
    height: 110px;
}
 footer .fab{
padding-right:15px;
color:#969bab;

 }