@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* header part styling */
body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
.top-banner{
    display: flex;
    grid-template-columns: repeat(2,1fr);
    grid-gap:50px;
    background-color:#2d25a0;
    width: 100%;
    height:690px;
}
.half-width{
    width:50%;
    padding-left: 150px;
}

.half-width h1{
    font-size: 64px;
    line-height: 80px;
    position: absolute;
width: 538px;
height: 230px;
left: 156px;
top: 223px;
color:white;
}
.watchLive-button{
    /* text-decoration: none;
    background-image:linear-gradient(orange,tomato);
    border-radius: 20px;
    padding:15px 40px;
    color:white;
    font-weight:400;
    width: 900px;
    margin-top:10px 2px;
} */
/* display: flex;
flex-direction: row;
align-items: flex-start; */
padding: 10px 24px 10px 24px;
text-decoration: none;
position: relative;
width: 168px;
height: 45px;
left: 156px;
top: 463px;

background: #E02C6D;
}
.half-width img{
    width:80%;
    padding:30px;
}